@keyframes fadeIn{

0%{

opacity:0;

}

100%{

opacity:1;

}

}

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(60px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

@keyframes zoomSlow{

0%{

transform:scale(1);

}

100%{

transform:scale(1.08);

}

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.05);

}

100%{

transform:scale(1);

}

}

@keyframes rotate{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}

@keyframes blink{

0%{

opacity:1;

}

50%{

opacity:.3;

}

100%{

opacity:1;

}

}

.fadeIn{

animation:fadeIn .8s;

}

.fadeUp{

animation:fadeUp .8s;

}

.pulse{

animation:pulse 2s infinite;

}